*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family:Georgia, 'Times New Roman', Times, serif ;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px; 
    background: linear-gradient(to right, rgba(193, 137, 137, 0.642),white,rgb(99, 95, 95));
    
}
/*styling for the simulators's container*/
.container{
  display: flex; 
  flex-direction: column;
  height: 500px; 
  width: 300px; 
  background-color: #61ade0; 
  border-radius: 10px;
  box-shadow: 26px -5px 26px -4px rgba(208,219,217,1);
 

}
/*styling for the phone screen*/
.phonescreen {
  flex: 1;
  background-color:  rgb(220, 99, 99);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 20px;
}
/* styling for the screen itself*/
.screen{
    background-color: white;
    height: 100%; 
   display: flex;
   flex-direction: column;
  justify-content: flex-start; 
  padding: 10px;
  border-radius: 5px;
   
}
/* styling for input area*/
input{
    background-color: rgb(223, 136, 136);
    color: black;
    height: 30px;
    padding: 20px;
}
/*styling for input placeholder*/
::placeholder{
    font-size: 15px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
/*styling for the button*/
button{
    background-color: rgba(0,0,0.75);
    padding: 16px;
    font-family: fantasy;
    color: whitesmoke;
}
/*styling for the span:title*/
.title{
    color: rgb(197, 53, 197);
}
/*styling for the span:number*/
.number{
    color: brown;
}
/*styling for the paragraph*/
p{
    font-size: 18px;
}


 /* resposniveness for extra small screens */
@media (max-width: 400px) { 
  body {
    font-size: 12px; 
  }
  .container {
    height: 350px;
    width: 250px; 
    margin-top: 40%;
  }
  p{
    font-size: 12px;
  }
}

